################################################################################
# Este archivo .gitignore ha sido creado automáticamente por Microsoft(R) Visual Studio.
################################################################################

/.vs/SistemaInventario/FileContentIndex/2f72db18-40bb-468f-9207-609c0a044ef2.vsidx
/.vs/SistemaInventario/FileContentIndex/452a31ae-cb01-4879-9886-fdb261fab4c7.vsidx
/.vs/SistemaInventario/FileContentIndex/51e26c1a-e0b9-4ac5-8685-c9f84579c71a.vsidx
/.vs/SistemaInventario/FileContentIndex/51ea381b-1941-4f06-a746-e281fdcbc525.vsidx
/.vs/SistemaInventario/FileContentIndex/66b2eca2-4239-453b-ae47-1b306a72dd3a.vsidx
/.vs/SistemaInventario/FileContentIndex/80fe625f-f373-4324-b43d-58fbde052f1d.vsidx
/.vs/SistemaInventario/FileContentIndex/fec60c8d-9023-46cf-8f7d-b9f24bfec9f3.vsidx
